name: Daily NBA Data Scrape

on:
  schedule:
    - cron: '0 7 * * *' 
  workflow_dispatch:

jobs:
  scrape-data:
    # runs-on: ubuntu-22.04 
    runs-on: macos-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: 'release'

      - name: Install system dependencies # run on macos-latest version
        run: |
          brew update
          brew install curl openssl libxml2
      
      #- name: Install system dependencies
      #  run: |
      #    sudo apt-get update
      #    sudo apt-get install -y libcurl4-openssl-dev libssl-dev libxml2-dev libfontconfig1-dev libharfbuzz-dev libfribidi-dev libfreetype6-dev libpng-dev libtiff5-dev libjpeg-dev

      - name: Install R packages
        run: |
          options(repos = c(CRAN = "https://packagemanager.posit.co/cran/__linux__/jammy/latest"))
          install.packages(c("tidyverse", "hoopR", "httr", "jsonlite", "rvest", "glue", "janitor", "fuzzyjoin", "plyr"))
        shell: Rscript {0}

      - name: Run scraper script
        run: |
          for i in 1 2 3; do
            Rscript hnr-app-scraper.R && break || echo "NBA API failed. Retrying in 10 seconds..." && sleep 10
          done

      - name: Commit and push new data
        run: |
          git config --local user.name "GitHub Actions Bot"
          git config --local user.email "actions@github.com"
          git add *.csv
          git commit -m "Auto-update daily NBA stats" || echo "No changes to commit"
          git push origin main
